.forecast {
  text-align: center;
  flex: 0 100%;
  padding-top: 2%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.forecast .container {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 10px;
}

.forecast .day {
  height: 10%;
  padding: 2% 1px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.forecast .day:hover,
.forecast .day:active {
  background: rgba(255, 255, 255, 0.1)
}

.forecast .day.selected {
  background: rgba(255, 255, 255, 0.2)
}

.forecast .day img {
  width: 90px;
}

.forecast .day h4 {
  color: var(--color-white);
}

