.today {
  text-align: center;
  flex: 5 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.today figure {
  flex: 1 53%;
  display: flex;
  justify-content: center;
}

.today figure img {
  height: 22vw;
}

.today main {
  flex: 1 47%;
}

.today main div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
